# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cursor

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#Ignore for now
components/sug_service-specialization-selector.tsx